:root {
    --color-primary-a0: #ffffff;
    --color-primary-a10: #cfd4d7;
    --color-primary-a20: #a0aaaf;
    --color-primary-a30: #73828a;
    --color-primary-a50: #495c66;
    --color-primary-a60: #38454c;
    --color-primary-a70: #272f34;
    --color-primary-a80: #171b1d;
    --color-primary-a90: #000000;

    --color-secondary-a0: #ffffff;
    --color-secondary-a10: #fee4d1;
    --color-secondary-a20: #fac8a4;
    --color-secondary-a30: #f3ae78;
    --color-secondary-a40: #ea934b;
    --color-secondary-a50: #de7818;
    --color-secondary-a60: #ae5f18;
    --color-secondary-a70: #804817;
    --color-secondary-a80: #553113;
    --color-secondary-a90: #2d1c0d;

    --color-accent-a0: #ffffff;
    --color-accent-a10: #deecf4;
    --color-accent-a20: #bcd9e9;
    --color-accent-a30: #99c6df;
    --color-accent-a50: #74b4d4;
    --color-accent-a60: #57849a;
    --color-accent-a70: #3b5664;
    --color-accent-a80: #212d33;
    --color-accent-a90: #000000;

    --color-gray-a0: #ffffff;
    --color-gray-a10: #d5d6d7;
    --color-gray-a20: #adafb1;
    --color-gray-a30: #878a8c;
    --color-gray-a50: #626669;
    --color-gray-a60: #494c4e;
    --color-gray-a70: #323435;
    --color-gray-a80: #1c1d1e;
    --color-gray-a90: #000000;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    height: 100vh
}

.ba-button {
    background-color: var(--color-primary-a60);
    border-radius: 10px;
    border: 2px solid var(--color-accent-a50);
    color: var(--color-primary-a0);
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    aspect-ratio: 1/1;
    width: 60px;

    &:hover {
        background-color: var(--color-primary-a30);
        cursor: pointer;
    }

    &.selected {
        background-color: var(--color-secondary-a60);
        border: 2px solid var(--color-secondary-a40);
    }
}

nav {
    background-color: var(--color-gray-a80);
    width: 85px;
    padding: 20px 0 0 0;
    color: var(--color-accent-a0);
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        list-style-type: none;
        margin: 10px 0;
    }
}

main {
    background-color: var(--color-gray-a60);
    flex: 1 0;
}

#svg-container,
#map {
    width: 100%;
    height: 100%;
}

.color-picker {
    width: 70px;
    position: absolute;
    margin-left: 170px;
    border-radius: 10px;
    border: 2px solid var(--color-accent-a50);
    background-color: var(--color-gray-a80);
    padding: 10px;
    display: inline-block;

    ul {
        list-style-type: none;
    }

    button {
        width: 30px;
        aspect-ratio: 1/1;
        border: 2px solid white;
        cursor: pointer;
    }
}

.unit-placer-btn {
    padding: 0px;

    img {
        width: 50px;
        aspect-ratio: 1/1;
    }
}

.expand-btn {
    position: absolute;
    width: 15px;
    height: 60px;
    margin-left: -15px;

    border-radius: 0;
}

.unit-picker-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1c1d1eAA;
    justify-content: center;
    align-items: center;
}

.image-icon {
    width: 50px;
    aspect-ratio: 1/1;
}

.unit-picker {
    width: 70vw;
    height: 600px;
    background-color: var(--color-primary-a60);
    border-radius: 10px;
    border: 2px solid var(--color-accent-a50);
    color: var(--color-primary-a0);
    padding: 14px;
    display: flex;

    ul {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        gap: 6px;
    }

    img {
        width: 50px;
        aspect-ratio: 1/1;
    }

    button {
        background-color: var(--color-primary-a60);
        border-radius: 10px;
        border: 2px solid var(--color-accent-a50);
        color: var(--color-primary-a0);
        padding: 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background-color: var(--color-primary-a30);
            cursor: pointer;
        }

        &.selected {
            background-color: var(--color-secondary-a60);
            border: 2px solid var(--color-secondary-a40);
        }
    }
}

.tooltip {
    position: relative;

}

.tooltip:hover::after {
    content: attr(tooltip);
    display: block;
    position: absolute;
    background-color: #00000099;
    padding: 8px 16px;
    border-radius: 8px;
}

.tooltip.right::after {
    left: 105%;
    top: 25%;
}

.tooltip.top::after {
    left: 0%;
    top: -50%;
}